// -------------------------------------
//   Base
// -------------------------------------
// ----- Global defaults for Base-level tags (body, p, etc.)
// -------------------------------------

$white = #FFF
$black = #000
$grey = #9e9e9e

body, html
    width 100%
    height 100%
    font-family sans-serif
    
.box
    position absolute
    top 0
    left 0
    width 200px
    height 200px
    background url('http://placekitten.com/g/200/250')
    background url("../images/candh.jpg")
    hide-me()
    bg-cover()